html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  background: #101118;
  overflow: hidden;
}

body {
  padding: 0;
  margin: -1px 0 0 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#app {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100dvh;
  min-height: max(0px, 100vh);
  align-items: center;
  display: flex;
  justify-content: center;
  overscroll-behavior: contain;
  pointer-events: none;
  top: 0;
  left: 0;
  z-index: 1;
}

.license {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 5px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

#scr-btn {
  position: relative;
  z-index: 99999;
}

#loadingContainer {
  background: #000;
}

#loadBackground {
  background: url('/assets/preloader-bg.jpg');
  background-size: cover;
  background-position: 50% 50%;
}

#requestingCameraPermissions {
  background: #101118;
}

a:visited {
  color: white;
}

a:hover {
  color: dodgerblue;
}

.hidden {
  display: none !important;
}

.fade-in {
  display: block;
  animation: fadeIn 2s;
  transition: opacity 1s;
}

.record-button-container {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  pointer-events: auto !important;
}

.record-button {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
  padding: 0;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  -webkit-tap-highlight-color: transparent; /* Убираем подсветку на iOS */
  touch-action: none; /* Предотвращаем стандартные жесты браузера */
  pointer-events: auto !important;
}

.record-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #ff3b30;
  transition: all 0.3s ease;
}

/* Состояние при записи */
.record-button.recording::before {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  background-color: #ff3b30;
}

/* Эффекты при взаимодействии */
.record-button:active {
  transform: scale(0.95);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

/* Опционально: стиль для отключенного состояния */
.record-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Добавляем поддержку для устройств с hover */
@media (hover: hover) {
  .record-button:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
